<h2 class="naslovVehicle">New Vehicle</h2>

<div class="editConteiner">
    <form action="/vehicles" method="POST">
        <div class="editConteinerInfo">
            <div>
                <%- include("_form_fields.ejs") %> 
            </div>
            <div class="buttonsDiv">
                <a class="buttonSmall" href="/vehicles">Cancel</a>
                <button class="buttonSmall" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
<%- include("../partials/errorMessage.ejs") %> 