<header>
    <div>
        <a href="/">LOGO</a>
    </div>
    <div>
        <ul>
            <li><a href="/vehicles">Vehicles</a></li>
            <li><a href="/costumers">Costumers</a></li>
            <li><a href="/rentalEvents">Rents</a></li>
        </ul>
    </div>
</header>