<header>
    <div>
        <a href="/">LOGO</a>
    </div>
    <div>
        <ul>
            <li><a href="/vehicles">Vehicles</a></li>
            <!--<li><a href="/vehicles/new">Add Vehicle</a></li>-->
            <li><a href="/costumers">Costumers</a></li>
        </ul>
    </div>
</header>