<header>
    <div id="nav">
        <div class="logoDiv">
            <a href="/"><i class="fas fa-car"></i></a>
        </div>
        <div class="navAnchorTags">
            <a href="/vehicles">Vehicles</a>
            <a href="/costumers">Costumers</a>
            <a href="/rentalEvents">Rents</a>
        </div>
    </div>
</header>