
<h1 class="naslov">
    Welcome to our Rent a Car <span style="color: #ff8f44;">company</span>
</h1>
<h3 class="podnaslov">
    We are one of the best in the buisness
</h3>
<h3 class="podnaslov">
    And also,
</h3>
<h3 class="podnaslov">
    one of the <span style="color: #ff8f44;">cheapest </span>in the town!!!
</h3>

<div class="bigButtonDiv">
    <a class="bigButton" href="/vehicles">Pick a vehicle</a>
</div>