<label>Full Name:</label>
<input type="text" name="fullName" value="<%= costumer.fullName %>">
<label>Email:</label>
<input type="text" name="email" value="<%= costumer.email %>">
<label>Phone Number</label>
<input type="text" name="phoneNumber" value="<%= costumer.phoneNumber %>">