<h2>New Costumer</h2>

<form action="/costumers" method="POST">
    <div>
        <%- include("_form_fields") %> 
    </div>
    <div>
        <a href="/costumers">Cancel</a>
        <button type="submit">Create</button>
    </div>
    
</form>
<%- include("../partials/errorMessage.ejs") %> 