<h2 class="naslovVehicle">New Costumer</h2>

<div class="editConteiner">
    <form action="/costumers" method="POST">
        <div class="editConteinerInfo">
            <div>
                <%- include("_form_fields") %> 
            </div>
            <div class="buttonsDiv">
                <a class="buttonSmall" href="/costumers">Cancel</a>
                <button class="buttonSmall" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
<div class="errorMessage">
    <%- include("../partials/errorMessage.ejs") %> 
</div>
